.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  font-weight: 500;

  text-transform: uppercase;

  cursor: pointer;

  &.solid {
    background-color: var(--color-primary);
    color: var(--color-primary-text);

    &:hover,
    &:focus {
      background-color: var(--color-primary-focus);

      box-shadow: 0px 0px 4px var(--color-primary-outline);

      outline: none;
    }
  }

  &.outline {
    background-color: var(--color-primary-text);
    color: var(--color-primary);

    border: 1px solid var(--color-primary);
  }

  &.rectangle {
    border-radius: 0.5rem;
  }

  &.square {
    border-radius: 0.5rem;
  }

  &.circle {
    border-radius: 999rem;
  }

  &.small {
    block-size: 2.5rem;
    inline-size: 2.5rem;

    font-size: 1.125rem;
  }

  &.medium {
    block-size: 3.125rem;
    inline-size: 3.125rem;

    font-size: 1.375rem;
  }

  &.large {
    block-size: 2.375rem;
    inline-size: 6.875rem;

    font-size: 1.125rem;
  }
}
