.input {
  overflow: hidden;

  display: flex;
  align-items: center;

  padding: 0.625rem 1rem;

  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;

  input {
    flex: 1;

    color: var(--color-primary);

    block-size: 1em;

    border: none;

    line-height: 1;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-placeholder);
    }
  }

  &:focus-within {
    outline: 2px solid var(--color-primary-outline);
  }
}
