.toolbar {
  display: flex;
  gap: 1rem;

  margin-block: 1rem;

  :first-child {
    flex: 1;
  }

  .icon {
    width: 21;
    height: 21;

    color: var(--color-primary);
    stroke-width: 1;
  }
}
