.text-area {
  overflow: hidden;

  display: flex;
  align-items: center;

  padding: 0.625rem 1rem;

  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;

  textarea {
    flex: 1;

    background-color: transparent;
    color: var(--color-primary);

    border: none;

    &:focus {
      outline: none;
    }
  }

  &:focus-within {
    outline: 2px solid var(--color-primary-outline);
  }
}
