.dreams {
  display: grid;
  gap: 1rem;

  inline-size: min(32.5rem, 100%);

  padding-block: 1rem;
  margin-inline: auto;

  > li {
    background-color: var(--color-surface-elevated);
    box-shadow: var(--box-shadow);

    display: grid;
    grid-template-areas: "vibe title description actions" "vibe date description actions";
    /* grid-template-columns: auto minmax(0, 1fr) auto; */
    grid-template-columns: auto 1fr 2fr auto;
    column-gap: 0.5rem;
    align-items: center;

    padding: 0.5rem 1rem;

    border-radius: 0.5rem;

    .vibe {
      grid-area: vibe;

      min-block-size: 100%;
      block-size: 0;

      svg {
        block-size: 100%;
        inline-size: auto;
      }
    }

    .title {
      grid-area: title;

      font-size: 1.25rem;
      font-weight: 500;
    }

    .date {
      grid-area: date;

      font-family: monospace;
      font-size: 1rem;
      font-weight: 300;
    }

    .description {
      grid-area: description;

      font-size: 1rem;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .actions {
      grid-area: actions;

      display: flex;
      gap: 0.5rem;

      font-size: 1.125rem;

      margin-inline-start: auto;

      & .edit {
        color: var(--color-fade);

        &:hover {
          color: var(--color-primary);
        }
      }

      & .remove {
        color: var(--color-fade);

        &:hover {
          color: var(--color-danger);
        }
      }
    }
  }
}
