.dreams {
  display: grid;
  gap: 1rem;

  inline-size: min(32.5rem, 100%);

  padding-block: 1rem;
  margin-inline: auto;

  > li {
    display: flex;
    justify-content: baseline;
    gap: 0.5rem;

    padding-block-end: 1rem;

    .title {
      grid-area: title;

      font-size: 1.25rem;
      font-weight: 500;
    }

    .date {
      grid-area: date;

      font-family: monospace;
      font-size: 1rem;
      font-weight: 300;
    }

    .actions {
      display: flex;
      gap: 0.5rem;

      font-size: 1.125rem;

      margin-inline-start: auto;

      & .edit {
        color: var(--color-fade);

        &:hover {
          color: var(--color-primary);
        }
      }

      & .remove {
        color: var(--color-fade);

        &:hover {
          color: var(--color-danger);
        }
      }
    }

    &:not(:last-child) {
      border-block-end: 1px solid var(--color-primary-border);
    }
  }
}
