.dreams {
  display: grid;
  gap: 1rem;

  inline-size: min(32.5rem, 100%);

  padding-block: 1rem;
  margin-inline: auto;

  > li {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    padding-block-end: 1rem;

    label {
      display: flex;
      align-items: center;
      gap: 1rem;

      input {
        inline-size: 1.75rem;
        block-size: 1.75rem;
      }

      .title {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }

    .actions {
      opacity: 0;

      display: flex;
      gap: 0.5rem;

      Button {
        background-color: transparent;
        color: var(--color-fade);

        &.edit {
          &:hover {
            color: var(--color-primary);
          }
        }

        &.remove {
          &:hover {
            color: var(--color-danger);
          }
        }
      }
    }
    &:hover {
      .actions {
        opacity: 1;
      }
    }
    &:not(:last-child) {
      border-block-end: 1px solid var(--color-primary-border);
    }
  }
}
